$resizableThickness: 10px;

.react-resizable-handle {
  display: block;
  background: {
    color: #37414b;
    repeat: no-repeat;
    position: 50%;
  }
}

.resize-horizontal {
  display: flex;
  flex-direction: row;
}

.react-resizable-handle-s {
  height: $resizableThickness;
  width: 100%;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.react-resizable-handle-e {
  width: $resizableThickness;
  min-width: $resizableThickness;
  height: 100%;
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
