.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  iframe {
    height: 100%;
    width: 100%;
  }
  &:after .react-draggable-transparent-selection {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
  }
}

.preview-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}
